<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1>We Can Code IT Todo List</h1>
    <nav>
        <a href="/">Home</a>
    </nav>
</header>
</body>
<main>
    <h2 th:text="${owner.name} + '\'s TodoList'">Jordan's Todo List</h2>
    <ul>
        <!--<li th:each="item: ${owner.items}" th:text="${item.title}">Grade Work</li>-->
        <li th:each="hashtag: ${todoItem.hashtags}" th:text="${hashtag.name}" class="hashtags-hashtag">#Wonderdog</li>
    </ul>

</main>
</html>